.service-card {
    position: relative;
    overflow: hidden;
  }
  
  .service-card .scale-animation {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 285px; /* Initial width of the border */
  height: 84px; /* Initial height of the border */
    border: 3px solid #fff;
    transition: all 0.4s ease-in-out;

  }
  
  .service-card:hover .scale-animation {
    width: 214px; /* Expanding to a width of 214px */
    height: 84px; /* Expanding to a height of 84px */
    border-radius: 0; /* Square border expansion */
  }
  
  .service-card:hover .scale-animation {
    width: 300px;
    height: 200px;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  :after,
  :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  